.container {
  padding: 0 24px;
  margin: 0 auto;
  min-width: 1200px;
}

body {
  font-family: Montserrat;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding-top: 28px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-link {
  font-size: 42px;
  color: #000000;
}

.nav {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin-left: 161px;
}

.nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.nav__link {
  color: #000000;
}

.btn-info {
  background-color: transparent;
  border-color: transparent;
  margin-right: 24px;
}

.hero {
  padding-top: 64px;
  padding-bottom: 100px;
  position: relative;
}

.hero__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero__div-main-img {
  width: 336px;
  height: 490px;
  border-radius: 226px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.hero__div-img {
  width: 166px;
  height: 166px;
}

.hero__title {
  font-weight: 400;
  font-size: 160px;
  color: #000000;
  position: absolute;
  top: 440px;
  left: 114px;
}

.about {
  padding-bottom: 100px;
}

.about__title {
  font-weight: 700;
  font-size: 44px;
  color: #000000;
  margin-right: 12px;
}

.about__main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__box {
  width: 1000px;
  height: 1px;
  background-color: #000000;
}

.about__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 53px;
}

.about__div-text {
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  margin-right: 60px;
}

.about__div-img {
  width: 600px;
  height: 300px;
}

.store {
  padding-bottom: 100px;
}

.store__title {
  font-weight: 700;
  font-size: 44px;
  color: #000000;
  margin-right: 12px;
}

.store__main-box {
  width: 1000px;
  height: 1px;
  background-color: #000000;
}

.store__main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.store__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.store__item {
  -ms-flex-preferred-size: calc((100% - 32px) / 2);
      flex-basis: calc((100% - 32px) / 2);
}

.store__img {
  width: 550px;
  height: 520px;
}

.store__subtitle {
  font-weight: 500;
  font-size: 36px;
  color: #000000;
  margin-right: 16px;
}

.store__box {
  width: 235px;
  height: 1px;
  background-color: #000000;
}

.store__box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store__text-wrapper {
  font-weight: 600;
  font-size: 28px;
  color: #000000;
  opacity: 0.8;
}

.store__btn {
  font-weight: 500;
  font-size: 28px;
  line-height: 86%;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  background-color: #e86f54;
  border: transparent;
  padding: 20px 43.5px;
  border-radius: 38px;
}/*# sourceMappingURL=main.css.map */