.delivery {
  padding-bottom: 100px;
}
.delivery__title {
  font-weight: 700;
  font-size: 44px;
  color: $text-color;
  margin-right: 12px;
}
.delivery__box {
  width: 1300px;
  height: 1px;
  background-color: $text-color;
}
.delivery__box-div {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.delivery__list {
  margin-left: 96px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  margin-bottom: 70px;
}
.delivery__item-wrapper {
  display: flex;
  align-items: center;
}
.delivery__text-number {
  font-weight: 500;
  font-size: 26px;
  color: $text-color;
  position: relative;
  margin-right: 56px;
  &::after {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    background-color: transparent;
    border: 1px solid $text-color;
    border-radius: 50px;
    position: absolute;
    top: -18px;
    left: -23px;
  }
}
.delivery__text {
  font-weight: 500;
  font-size: 32px;
  color: $text-color;
}
