.hero {
  padding-top: 64px;
  padding-bottom: 100px;
  position: relative;
}
.hero__div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero__div-main-img {
  width: 336px;
  height: 490px;
  border-radius: 226px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.hero__div-img {
  width: 166px;
  height: 166px;
}
.hero__title {
  font-weight: 400;
  font-size: 160px;
  color: $text-color;
  position: absolute;
  top: 440px;
  left: 114px;
}
